@font-face {
    font-family: 'VCR_OSD_MONO_1.001';
    font-style: normal;
    font-weight: normal;
    src: local('VCR_OSD_MONO_1.001'), url('../assets/VCR_OSD_MONO_1.001.ttf') format('woff');
}

body {
    background: url('../images/backgroundsus.jpg');
    background-size: cover;
}

.imposter {
    background: url('../images/imposter.jpg');
    background-size: cover;
}




body main {
    display: flex;
}

body h1 {
    color: crimson;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family: 'VCR_OSD_MONO_1.001';
}

body main h2 {
    color: crimson;
    margin-bottom: 10px;
    font-family: 'VCR_OSD_MONO_1.001';
    text-align: center;
}


h3 {
    font-family: 'VCR_OSD_MONO_1.001';
    font-weight: 500;
    color: crimson;
    margin-top: 50px;
    margin-bottom: 65px;
}

label {
    position: relative;
    line-height: 2rem;
    padding: 0 0 0 3rem;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 75px;
    margin: 3px;
}

article {
    margin-bottom: 3.5rem;
}

article div {
    display: flex;
}

#pakje img {
    width: 50px;
}

#hoeden button {
    margin-left: 25px;
}

#hoeden img {
    width: 50px;
}

#achtergronden div {
    gap: 130px;
} 

#achtergronden img {
    width: 180px;
    margin-left: 20px;
    margin-right: 20px;
    border: 5px solid;
    border-color: crimson;
    border-width: 1px;
    border-radius: 100px;
}


#dieren div {
    gap: 50px;
}

#pop {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#pop #mainbody {
    width: 140%;
}

#pop div {
    position: relative;
}

#classhoed {
    position: absolute;
    top: -90px;
    left: 105px;
    width: 55%;
}

#classpet {
    position: absolute;
    right: -150px;
    bottom: 10px;
    width: 80%;
}